@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

body{
    padding: 10px 0 0 0;
    position: relative;
    background-color: aliceblue;
    display: flex;
    overflow-x: hidden;
    gap: 20px;
    width: 100dvw;
}

.header{
    max-width: 300px;
     height: 100dvh;
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: end;
}

.hamburger-icon{
    font-size: 21px;
    display: none;
}

.side-bar{
   
    height: 100dvh;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 0 10px 10px 0;
    padding-top: 20px;
    max-width: 300px;

}



.side-bar-profile{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: start;
   
    gap: 12px;
    padding: 0 20px;

}

.side-bar-profile-picture{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('./images/profile.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.side-bar-profile-name{
    text-transform: capitalize;
    font-size: 18px;
    width: 100%;
    color: #333;
}

.side-bar-profile-info{
    text-transform: capitalize;
    font-size: 14px;
    color: #333;
}

.side-bar-profile-download-resume{
   width: 100%;
   padding: 10px 0;
   text-transform: capitalize;
   font-size: 14px;
   margin-top: 30px;
   background-color: transparent;
   border: 1px solid #333;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
   cursor: pointer;
}

.list-container{
    flex: 1;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: start;
    padding: 0 20px;
    list-style: none;
    gap: 5px;
   
}

.list-container-items{
    width: 100%;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 18px;
    
}

.list-container-items-links:hover{
    background-color: grey;
    color: #fff;
}

.list-container-items-links{
    padding: 10px 0;
    color: #333;
     display: flex;
    align-items: start;
    gap: 10px;
    text-decoration: none;
    transition: ease-in-out 0.5s;
}

.list-container-items-links.active{
    background-color: aliceblue;
    color: #5858a4 ;
}

.mode{
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: rgb(223, 220, 220);
    padding: 20px 20px;
    border-radius: 5px;
    
}

.mode-info{
    font-size: 18px;
    text-transform: capitalize;
    color: #333;
}


 .toggle {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 20px;
    }

    /* Hide default checkbox */
    .toggle input {
      display: none;
    }

    /* The slider background */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      transition: 0.4s;
      border-radius: 34px;
    }

    /* The round circle */
    .slider::before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 0px;
      bottom: 0px;
      background-color: white;
      transition: 0.4s;
      border-radius: 50%;
    }

    /* Checked state */
    input:checked + .slider {
      background-color: #fff;

    }

    input:checked + .slider::before {
      transform: translateX(30px);
      background-color: #333;
    }



    /* adding media query */


@media (min-width: 768px) and (max-width: 1024px) {
   body{
    flex-direction: column;
   }

   .header{
    height: 3rem;
    max-width: 100%;
    justify-content:center;
    padding: 0 30px;
   }

   .hamburger-icon{
    display: flex;
    font-size: 2rem;
    color: #333;
    cursor: pointer;
   }

   .side-bar{
     display: flex;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    opacity: 1;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease-in;
   }

   .side-bar.active{
    opacity: 1;
    transform: translateX(0);
}

   .home{
    flex: 1;
    max-width: 100%;
   }

   .time{
    font-size: 12px;
   }

   .skills-info-others{
    min-width:768px;
    padding: 30px;
    overflow: hidden;
   }

     
}

@media(max-width: 767px){

  body{
    flex-direction: column;
   }

   .header{
    height: 3rem;
    max-width: 100%;
    justify-content:center;
    padding: 0 30px;
   }

   .hamburger-icon{
    display: flex;
    font-size: 2rem;
    color: #333;
    cursor: pointer;
   }

   .side-bar{
     display: flex;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    opacity: 1;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease-in;
   }

   .side-bar.active{
    opacity: 1;
    transform: translateX(0);
}

   .home{
    flex: 1;
    max-width: 100%;
   }

   .time{
    font-size: 12px;
   }

   .skills-info-others{
    max-width:300px;
    padding: 30px;
    overflow: hidden;
   }


.skills-icons i {
    font-size: 30px; /* adjust size */
   
}

.contact-icons{
   font-size: 1rem;
}

.career-content{
    flex-wrap: wrap;
    padding: 20px ;
}

.featured-image-container{
    max-width: 200px;
    max-height: 200px;
}

.featuted-image{
    width: 100%;
    max-height: 100px;
}

.featured{
   width: 100%;
   padding: 30px;
}

}


    /* home page css */
.home{
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: hidden;
}

.home-image-and-time-container{
    width: 100%;
    height: 300px;
    background-color: #fff;
    position: relative;
    border-radius: 10px;
}

.home-image{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.home-image img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: fill;
      opacity: 0;
      animation: fade 20s infinite;
    }

    /* 👇 First image visible immediately */
    .home-image img:first-child {
      opacity: 1;
    }

    /* Each image starts animation at different times */
    .home-image img:nth-child(1) { animation-delay: 0s; }
    .home-image img:nth-child(2) { animation-delay: 5s; }
    .home-image img:nth-child(3) { animation-delay: 10s; }
    .home-image img:nth-child(4) { animation-delay: 15s; }

    @keyframes fade {
      0%   { opacity: 0; }
      5%   { opacity: 1; }
      25%  { opacity: 1; }
      30%  { opacity: 0; }
      100% { opacity: 0; }
    }

    .home-image::before{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 2;
    }

    .home-time{
        position: absolute;
        top: 10px;
        right: 0;
        width: 100%;
        padding-right: 20px;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 5px;
        color: #fff;
        z-index: 3;
        font-size: 18px;
        
    }

    .home-time-text{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding:20px 0;
        color: #fff;
        padding-left: 30px;
        text-transform: uppercase;
        z-index: 3;
        font-family: "DM Serif Text", serif;
    }

   .home-greeting {
    display: inline-block;
    border-right: 3px solid #fff; /* cursor */
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(35, end) infinite alternate, blink 0.7s step-end infinite;
  font-family: "DM Serif Text", serif;
    vertical-align: bottom;
}

/* Type + erase */
@keyframes typing {
    from { width: 0; }
    to   { width: 16ch; }
}

/* Blinking cursor */
@keyframes blink {
    from, to { border-color: transparent; }
    50% { border-color: #fff; }
}


/* career css */

.career{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px;
    background-color: #fff;
    border-radius: 10px;
}

.career-stats{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    color: #5858a4;
}
.career-text{
    font-size: 18px;
    text-transform: capitalize;
    color: #333;
}


.career-content{
    width: 100%;
    display: flex;
    gap: 15px;
    align-items: center;
    
    
}
.career-content-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    height: 150px;
    flex: 1;
    flex-basis: 200px;
    background-color: aliceblue;
    border-radius: 15px;
    padding: 10px 10px;
    transition: 0.5s ease-in;
    cursor: pointer;
}

.career-content-icons{
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center;
    font-size: 3rem;
    color: #a4589b;
}

.career-year-experience{
    font-size: 14px;
    text-transform: capitalize;
    color: #333;
}

.career-content-container:nth-child(1) i { color: #007bff; } /* clock */
.career-content-container:nth-child(2) i { color: #ff9800; } /* medal */
.career-content-container:nth-child(3) i { color: #4caf50; } /* folder */
.career-content-container:nth-child(4) i { color: #e91e63; } /* chip */

.career-content-container:nth-child(1) .career-number{
    font-size: 2rem;
    color: #333;
}

.career-content-container:nth-child(2) .career-number{
    font-size: 2rem;
    color: #333;
}

.career-content-container:nth-child(3) .career-number{
    font-size: 2rem;
    color: #333;
}

.career-content-container:nth-child(4) .career-number{
    font-size: 2rem;
    color: #333;
}

.career-info{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 400;
}

.career-number{
    transition: 0.5s ease-in;
}

.career-content-container:hover .career-number {
  color: #fff; 
}

.career-content-container:hover{
    background-color: #172534;
    color: #fff;
}

/* featured css */

.featured{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    background-color: #fff;
    align-items: start;
    padding-bottom: 20px;
}

.featured-icon-container{
    width: 100%;
    padding: 20px 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
    
}

.featured-name{
    font-size: 18px;
    text-transform: capitalize;
}

.featured-icon{
   font-size: 1.5rem;
   filter: grayscale(1);
}

.featured-container-content {
  width: 100%;
  overflow: hidden; /* hide items outside */
  position: relative;
}

.featured-wrapper {
  display: flex;
  gap: 20px;
 animation: slide 10s linear infinite alternate;
}

.featured-container {
  flex: 1 1 300px; /* fixed width for each item */
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}


.featured-image-container{
    flex: 1;
    width: 300px;
    height: 300px;
}
.featuted-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.featured-text{
    font-size: 14px;
    color: #333;
}



.featured-button{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    z-index: 3;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ccc;
}

.featured-arrow-left{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.featured-arrow-right{
     width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}


/* Keyframes for sliding effect */
@keyframes slide {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}



/* skills info css */

.skills-info-others{
    flex: 1.3;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;

   
}

.skills-name{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    position: absolute;
    padding: 20px;
    font-weight: 700;
    top: 0;
    left: 0;
    z-index: 1;
    
}

.skills-icon{
    font-size: 21px;
    color: #333;
}
.skills-title{
    font-size: 18px;
    text-transform: capitalize;
    color: #333;
    font-weight: 700;
}

.skills{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    padding: 70px 20px 30px 20px;
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
     border-radius: 10px;
}


.skills::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 80px; /* size of blur area */
    height: 100%;
    background: linear-gradient(to right, #fff 30%, transparent 100%);
    pointer-events: none;
    opacity: 1;
    z-index: 1;
}


.skills::after{
      position: absolute;
    top: 0;
    right: 0;
    content: '';
    width: 80px;
    height: 100%;
    background: linear-gradient(to left, #fff 30%, transparent 100%);
    pointer-events: none;
}

.skills-left{
    display: flex;
    overflow: hidden;
    position: relative;
    gap: 20px;
    font-size: 12px;
    align-items: center;
    animation: skills 10s linear infinite alternate;
   
}




.skills-icons{
    font-size: 50px; /* adjust size */
   
}

/* Individual icon colors */
.fa-html5 {
    color: #e34c26; /* HTML orange */
}

.fa-css3 {
    color: #264de4; /* CSS blue */
}

.fa-js {
    color: #f0db4f; /* JavaScript yellow */
}

.fa-java {
    color: #007396; /* Java blue */
}

.fa-node-js {
    color: #68a063; /* Node.js green */
}

.fa-react {
    color: #61DBFB; /* React cyan */
}



.skills-right{
    display: flex;
    overflow: hidden;
    position: relative;
    gap: 20px;
    font-size: 12px;
    align-items: center;
    animation: skills-right 10s linear infinite alternate;
   
}

/* Keyframes for sliding effect */
@keyframes skills {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-35%); }
}

@keyframes skills-right {
  100%   { transform: translateX(0); }
  0% { transform: translateX(-35%); }
}

.expertise{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}


.expertise-title-icon{
    width: 100%;
    display: flex;
    gap: 10px;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
    text-transform: capitalize;
    color: #333;
    margin-bottom: 30px;
}

.fa-user{
    font-weight:900;
    font-size: 21px;
}

.expertise-container-content{
width: 100%;
padding: 10px 0;
border-bottom: 1px solid #333;
}

.expertise-container-icons{
    width: inherit;
    display:flex;
    align-items: center;
    gap: 15px;
    font-size: 2rem;
    color: #333;
    position: relative;
}


.expertise-container-icons::before{
    width: 8px;
    height: 8px;
    content: '';
    position: absolute;
    right: 10px;
    border-bottom: 2px solid #333;
    border-left: 2px solid #333;
    transform: rotate(-45deg);
}

.expertise-title{
    font-size: 15px;
    text-transform: capitalize;
}

/* Individual icon colors */
.fa-code {
    color: #e34c26; /* orange/red */
}

.fa-laptop-code {
    color: #264de4; /* blue */
}

.fa-server {
    color: #68a063; /* green */
}

.fa-object-group {
    color: #ff69b4; /* pink */
}



/* contact info css */


.contact{
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    color: #333;
}

.fa-envelope{
    font-size: 2rem;
}

.contact-info-icons{
    width: inherit;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-icons{
    width: 100%;
    display:flex;
    gap: 8px;
    align-items: center;
    font-size: 2rem;
}

.contact-info{
    width: 100%;
    font-size: 12px;
    color: grey;
}
